<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div id="contact" class="body">
							<h1>Contact</h1>
							<form action="index" method="post">
								<table>
									<tbody>
									{{#each contact_hbs}}
										{{{contact_name}}}
										{{{email}}} 
										{{{subject}}}  
									{{/each}}
											<td class="txtarea">Message:</td>
											<td><textarea></textarea></td>
										</tr> <tr>
											<td></td>
											{{#each contact_hbs}}
                                				{{{button}}}
			                				{{/each}}
										</tr>
									</tbody>
								</table>
							</form>
							<h2>Travlr Getaways</h2>
			                {{#each contact_hbs}}
                                {{{info}}}
			                {{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>